# Git Ignores - Soham
/Tools/YOLO/AutoLabeler/myenv
/Tools/YOLO/Model Conversion (YOLO - TFL)/MYvenv
/Tools/YOLO/PyTorch Benchmark/venvw
/Tools/YOLO/TFLite Benchmark/venv

/Tools/YOLO/AutoLabeler/myenv

/Tools/Model Converter (PT - TFL)/PTH_ONXX/myenv
/Tools/Model Converter (PT - TFL)/ONXX_TFLITE/myenv

/Proof of Concept/OOK Detection & Occlusion/venv

# Git Ignores - Zaynab
/Letter & Digit Inference/digitEnv
/Letter & Digit Inference/10000 DIDA


venv/
/digitEnv
/10000 DIDA
venv/
env/
.myenv/
*/venv/
*/env/
*/.venv/