# Git Ignores - Soham
/YOLO/Tools/AutoLabeler/myenv
/YOLO/Tools/Model Converter (PT - TFL)/MYvenv
/YOLO/Tools/PyTorch Benchmark/venvw
/YOLO/Tools/TFLite Benchmark/venv

/Proof of Concept/OOK Detection & Occlusion/venv

# Git Ignores - Zaynab
/Letter & Digit Inference/digitEnv
/Letter & Digit Inference/10000 DIDA
/Letter & Digit Inference/Model Converter (PT - TFL)/PTH_ONXX/myenv
/Letter & Digit Inference/Model Converter (PT - TFL)/ONXX_TFLITE/myenv


venv/
/digitEnv
/10000 DIDA
venv/
env/
.myenv/
*/venv/
*/env/
*/.venv/