<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Declares that the app uses any type of camera (either front or back) -->
    <uses-feature android:name="android.hardware.camera.any" />

    <!-- Permission to access the camera for taking photos and videos -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Permission to record audio, required for video recording with sound -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Permission to write to external storage, only required for Android versions up to 28 (Android 9) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <!-- To use ARCore-->
    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/xamera_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/xamera_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Xamera"
        tools:targetApi="31"
        tools:replace="android:allowBackup, android:icon, android:theme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".openGL2D.OpenGL2DActivity" />
        <activity android:name=".openGL3D.OpenGL3DActivity" />
        <activity android:name=".AboutXameraActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name="com.unity3d.player.UnityPlayerGameActivity"
            tools:node="replace"
            android:configChanges="orientation|screenSize" />
        <!-- Integrated AR Activity from the exported AR library -->
        <activity
            android:name="com.xamera.ar.core.components.java.sharedcamera.SharedCameraActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor"
            android:resizeableActivity="false"
            tools:node="replace">
            <!-- No launcher intent-filter -->
        </activity>

        <!-- ARCore meta-data with override in case of conflicts -->
        <meta-data
            android:name="com.google.ar.core"
            android:value="required"
            tools:replace="android:value" />
    </application>
</manifest>